@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background: black;
  height: 100vh;
  display: grid;
  place-content: center;
  color: white;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 34.375em;
  height: 57rem;
  border-radius: 10px;
  display: grid;
  place-content: center;
  background: #23252C;
}

.App {
  width: 20em;

  background: #1A1B21;
  border-radius: 10px;
}

/* ******** HEADER ********** */

img {
  width: 100%;
  height: 20em;
}

main {
  padding: 1em 1.875em;
  background: #1A1B21;
}

#info {
  text-align: center;
}

#name {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

}


#description {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;

  color: #F3BF99;
}

#email {
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #F5F5F5;

}

a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  display: block;
  background: white;
  color: black;
  padding: 1.125em;
  border-radius: 10px;
  margin-top: 1rem;
}

span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: black;
}

.envelope {
  margin-right: 0.5em;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 1em;
}

.about {
  margin-top: 2.5em;
}

.about>ul>li>h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #F5F5F5;
  margin-bottom: 0.5em;

}

.about>ul>li>p {
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;

  /* or 15px */

  color: #DCDCDC;
}

footer {
  background: #161619;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2em;
  height: 4em;
}

.icon {
  font-size: 25px;
  color: #918E9B;
}